<table>
  <thead>
    <ng-container *ngFor="let col of data.columns; let colIdx = index">
      <ng-container *ngIf="colIdx === 0">
        <th></th>
      </ng-container>
      <th><span class="column-title" [style.border-color]="col.color">{{ col.name }}</span></th>
    </ng-container>
  </thead>
  <tbody>

    <ng-container *ngFor="let area of data.areas; let rowIdx = index">
      <tr>
        <ng-container *ngFor="let col of data.columns; let colIdx = index">
          <ng-container *ngIf="colIdx === 0">
            <td class="area-name"><span>{{ area.name }}</span></td>
          </ng-container>
          <td
            [attr.data-row-idx]="rowIdx"
            [attr.data-col-idx]="colIdx"
            [class.is-dragover]="currentDragPos?.colIdx === colIdx && currentDragPos?.rowIdx === rowIdx"
            [class.is-dragstart]="startDragPos?.colIdx === colIdx && startDragPos?.rowIdx === rowIdx"
            (dragstart)="onDragStart($event)"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDrop($event)"
            (click)="addTask({colIdx, rowIdx})"
          >
            <ng-container *ngFor="let task of getAreaTasks({colIdx, rowIdx})">
              <app-task
                [task]="task"
                [rowIdx]="rowIdx"
                [colIdx]="colIdx">
              </app-task>
            </ng-container>

            <div class="add-task-area">
            </div>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</table>
