.mobile {
  padding: 12px 2%;

  .column-title {
    color: #5e6c84;
    padding: 4px;
    font-size: 13px;
    line-height: 1.5;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 4px;
    margin: 12px 0;
    display: block;
  }
  
  .area-name {
    color: #5e6c84;
    font-size: 10px;
    text-transform: uppercase;
    pointer-events: none;
    vertical-align: top;
    padding: 16px 0;
    background: none;
  }

  .task-area-container {
    border-radius: 2px;
    background: #f4f5f7;
    transition: all 1.1s ease;
    vertical-align: top;
    position: relative;

    &.is-hovered {
      cursor: pointer;
      background: rgb(9 30 66 / 18%);
      
      .add-task-area {
        transition: all 0.3s ease;
        transition-delay: 600ms;
        position: relative;

        &::before {
          content: '+';
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
          top: -7px;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 2px;
        }
      }
    }

    .add-task-area {
      display: flex;
      cursor: pointer;
      height: 0px;
      justify-content: center;
      bottom: 0;
      width: 100%;
      align-items: center;
      background: #f2f2f2;
      margin-top: 0;
    }

    &.is-dragover {
      background: white;
    }
  }
}

.board {
  width: 98%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 4px;
  table-layout: fixed;

  @media screen and (min-width: 1300px) {
    width: 90%;
    margin: 0 auto 20px 16px;
  }

  .column-title {
    color: #5e6c84;
    padding: 4px;
    font-size: 13px;
    line-height: 1.5;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 4px;
    margin: 12px;
    display: block;
  }

  .area-name {
    color: #5e6c84;
    font-size: 10px;
    text-transform: uppercase;
    pointer-events: none;
    text-align: right;
    vertical-align: top;
    padding: 12px 12px 0 0;
    background: none;
  }

  td {
    min-width: 17%;
    border-radius: 2px;
    background: #f4f5f7;
    transition: all 1.1s ease;
    vertical-align: top;
    height: 59px;
    padding: 12px;
    position: relative;

    &.is-hovered {
      cursor: pointer;
      background: rgb(9 30 66 / 18%);
      
      .add-task-area {
        height: 4px;
        transition: all 0.3s ease;
        transition-delay: 600ms;
        position: relative;

        &::before {
          content: '+';
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
          top: -7px;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 2px;
        }
      }
    }

    .add-task-area {
      display: flex;
      cursor: pointer;
      height: 0px;
      justify-content: center;
      bottom: 0;
      width: 100%;
      align-items: center;
      background: #f2f2f2;
      margin-top: 0;
    }

    &.is-dragover {
      background: white;
    }
  }
}
