.board {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;

  .board-column {
    min-width: 17%;
    border-radius: 2px;
    background: #f4f5f7;
    display: flex;
    flex-direction: column;
    padding: 12px;

    &:not(:first-child) {
      margin-left: 1%;
    }

    .column-title {
      color: #5e6c84;
      padding: 4px;
      font-size: 13px;
      text-transform: uppercase;
      white-space: nowrap;
      border-bottom: 2px solid;
      padding-bottom: 12px;
    }
  }
}
