.task {
  margin-bottom: 5px;
  font-size: 14px;
  color: rgba(66, 82, 110, 1);
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 0.125rem;
  background-color: white;
  transition-property: all;
  transition-duration: 100ms;
  user-select: none;
  padding: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px 0px;
  position: relative;
  cursor: grab;

  &.mobile {
    background-color: #f3f4f7;
    box-shadow: none;
  }

  @media screen and (max-width: 1300px) {
    font-size: 10px;
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }

  &:hover {
    background: #ebecf0;
  }

  &.is-hovered {
    button.delete-task {
      display: block;
    }
  }

  button.delete-task {
    display: none;
    position: absolute;
    right: 8px;
    top: 8px;
    border: none;
    border-radius: 4px;
    background: white;

    @media screen and (max-width: 1300px) {
      right: 8px;
      top: 5px;
    }
    
    &:hover {
      cursor: pointer;
      box-shadow: 0 1px 2px rgb(0 0 0 / 17%);
    }
  }
}
