:host {
  margin-top: 20px;

  .task-area {
    .tasks {
      padding-top: 5px;

      &.is-dragover {
        border: 2px dashed grey;
      }
    }

    .title {
      color: #5e6c84;
      padding: 4px;
      font-size: 10px;
      text-transform: uppercase;
      white-space: nowrap;
      padding-bottom: 12px;
    }
  }
}
