:host {
  .task-area {
    display: flex;
    flex-direction: column;

    &.is-dragover .tasks {
      min-height: 5px;
      background: #c4c4c4;
      padding-bottom: 39px;

      .task {
        pointer-events: none;
      }
    }

    .title {
      color: #5e6c84;
      padding: 4px 4px 12px 4px;
      font-size: 10px;
      text-transform: uppercase;
      white-space: nowrap;
      pointer-events: none;
    }
  }
}
